<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
    <div class="sidebar-brand-text mx-3">Admin</div>
  </a>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="/admin">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/nodes">Nodes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/transitions">Transitions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/echoes">Echo traces</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/traces">Node traces</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/achievements">Achievements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/premium">Premium</a>
  </li>
</ul>
