{% extends "admin/layout.html" %}
{% block title %}Transitions{% endblock %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Transitions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>From</th>
      <th>To</th>
      <th>Type</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    {% for t in transitions %}
    <tr>
      <td>{{ t.id }}</td>
      <td>{{ t.from_node.slug if t.from_node else '' }}</td>
      <td>{{ t.to_node.slug if t.to_node else '' }}</td>
      <td>{{ t.type }}</td>
      <td>{{ t.weight }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
